/* This file will hold styles that are loaded using the same media query as the narrow grid. */

h1.title {
  margin: 10px 0 20px;
  font-size: 200%;
  line-height:1;
}

#block-system-main-menu {
  width: auto;
}
#block-system-main-menu ul.menu li {
  width: auto;
}
#region-menu {
  float: right;
}
ul#main-menu {
  float: right;
  width: auto;
}
ul#main-menu li {
  float: left;
}
/* Footer menu */
.zone-footer .block-menu .content ul.menu {
  float: right;
}

/* Block slideshow */
.block-slideshow .views-field-field-image {
  padding: 0 0 20px 0;
  margin:0;
}
.block-slideshow .views-field-field-image img {
  width: 100%;
}
.block-slideshow .views-field-body {
  width:100%;
  font-style: italic;
}
.block-slideshow .views-field-body .field-content {  
  padding: 0 50px;
}

/* Block search */
.block-search input.form-submit {
  margin-right: 0;
  padding: 0.4em 0.5em;
}
.block-search input.form-text {
  width: 140px;
}

.block-login input.form-text {
  width: 138px;
}
.block-login .item-list ul li {
  margin-left: 0;
  list-style: none;
}
article.node-article .field-name-field-image img {
  width: 220px;
}

.block-views-blog-block .views-field-title a,
.view-list-articles .views-field-title a {
  font-size: 160%;
}
.view-list-articles .views-row img {
  width: 200px;
}

/* Postscript block */
.block-custom-postscript img {
  width: 150px;
  margin-right: 0px;  
}

/* Block copyright */
.block-copyright,
.block-logo-footer {
  text-align: right;
}

/* Contact form */
.contact-form .form-item label {
  font-size: 110%;
  font-weight: bold;
}
.contact-form .form-actions {
  margin-left: 10px;
}
