/* This file will hold styles that are loaded using the same media query as the normal grid. */

h1.title {
  margin: 20px 0 30px;
  font-size: 260%;
}
/* Block slideshow */
.block-slideshow .views-field-field-image {
  width: 580px;
  display: block;
  float: left;
  padding:0;
}
.block-slideshow .views-field-body {
  width:320px;
  padding:35px 0 0 0;
  font-size: 120%;
  font-weight: bold;
  font-style: italic;
  margin-left: 20px;
}
.block-slideshow .views-field-body .field-content {  
  padding: 0 0 35px 0;
}
.block-slideshow .views-field-body p {
  line-height: 2;
}

/* Block login */
.block-login input.form-text {
  width: 178px;
}

/* Block search */
.block-search input.form-submit {
  margin-right: 0;
  padding: 0.4em 1em;
}
.block-search input.form-text {
  width: 125px;
}

.view-blog .views-row img {
  width: auto;
}

.views-field-service-links {
  width: auto;
}
.views-field-service-links ul.links {
  float: right;
}
.views-field-service-links ul.links li {
  float: right;
}

.block-views-blog-block .views-field-title a,
.view-list-articles .views-field-title a {
  font-size: 180%;
}
article.node-article .field-name-field-image img {
  width: 260px;
}
/* Postscript block */
.block-custom-postscript img {
  width: 210px;
  margin-right: 0px;  
}

/* Contact form */
.contact-form .form-item label {
  float: left;
  width: 180px;
  font-size: 110%;
  font-weight: bold;
}
.contact-form .form-item.form-type-checkbox label {
  float: none;
  font-size: 100%;
  font-weight: normal;
}
.contact-form .form-item .form-textarea-wrapper {
  float: left;
  width: 70%;
}
.contact-form .form-item.form-type-checkbox,
.contact-form .form-actions {
  margin-left: 250px;
  width: auto;
  clear: left;
  float: left;
}
.contact-form .form-actions {
  margin-left: 260px;
}