@charset "utf-8";

#search-block-form .form-text {
  float:left;
  width: 117px;
  margin-right:10px;
}
#search-block-form .form-submit {
  padding:3px 5px;
}
#st_center .field-field-image {
}
.search-button {
  padding:3px 0;
}
