@charset "utf-8";
/* CSS Document */
/*------------------------------------*\
	RESET
\*------------------------------------*/
a,
a:link,
a:visited {
  color:#D91A0D;
  text-decoration: none;
}
a:focus,
a:hover,
a:active {
  color: #fff;
}
h1, h2, h3, h4 {
  color:#D91A0D;
}

pre, div.code {
  border-left: 5px solid #D91A0D;
}
.highlight {
  background: #D91A0D;
}


/*------------------------------------*\
	Pages CSS
\*------------------------------------*/
ul.links li {
  padding: 0 1em 0 0; /* LTR */
}
li.comment-add a,
li.comment-add a.active {
  background: #D91A0D;
}
.item-list .pager li {
  border: 1px solid #605D5A;
}
.item-list .pager .pager-current {
  background:#D91A0D;
  color: #fff;
}
.item-list .pager li a:hover {
  background:#EC7B72;
  color: #fff;
}

/*------------------------------------*\
	NAVIGATION CSS
\*------------------------------------*/
/*
 * Main menu links
 */
ul#main-menu li a:hover,
ul#main-menu li a.active:hover {
  color: #D91A0D;
}
ul#main-menu li a.active {
  color: #D91A0D;
}

ul.primary li.active a, ul.primary li.active a:hover, ul.primary li.active a:focus {
  background: #D91A0D;
}

/*------------------------------------*\
	BLOCKS CSS
\*------------------------------------*/

h2.block-title {
  color:#000;
  border-bottom: 1px solid #605D5A;
}

/* Block box */
.block-login .block-inner h2.block-title,
.block-poll .block-inner h2.block-title,
.block-box .block-inner h2.block-title {
  color: #D91A0D;
  border-bottom: 1px solid #D91A0D;
}

/* Block slideshow */
.block-slideshow .views-field-body {
  background:url(../images/red/blockquote.png) 0 0 no-repeat;
}
.block-slideshow .views-field-body .field-content {  
  background:url(../images/red/blockquote-bottom.png) bottom right no-repeat;
}


/* Block list */
.block-list.block-box ul li {
  background: url(../images/red/bullet.png) 0 15px no-repeat;
}
.block-comment-recent ul li a:hover,
#block-block-7 ul li a:hover,
.block-list ul li a:hover {
  color: #D91A0D;
}

/* Recent news */
.block-views-blog-block .views-field-view-node a,
.view-list-articles .views-field-view-node a {
  background: url(../images/red/bullet.png) 0 9px no-repeat;
}

/* Block recent comments */
.block-comments-recent-block li a {
  color: #000;
}
.block-comments-recent-block li a:hover {
  color: #D91A0D;
}


/*------------------------------------*\
	FORMS CSS
\*------------------------------------*/
/* Typography and backgrounds for all form buttons */
button, input[type="reset"], input[type="submit"], input[type="button"] {
  background:#D91A0D none repeat scroll 0 0;
  border:1px solid #605D5A;
  color: #fff;
}

input.form-submit:hover {
  background: #EC7B72;
}
