@charset "utf-8";

/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  font-family: Arial, sans-serif;
  font-size:12px;
  margin: 0;
  line-height:1.5;
}
body#bd {
  background: url(../images/background-footer.jpg) 0 0 repeat;
  color:#FFFFFF;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* typography.css */
h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-weight:bold;
  color:#bdcf25;
}
h1 {font-size: 180%;line-height:1;}
h2 {font-size: 155%;}

h3 {font-size: 130%;}
h4 {font-size: 100%; font-weight:bold;}

h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}

p {margin:10px 0;}
p img {float:left;margin:1.5em 1.5em 1.5em 0;padding:0;}
p img.right {float:right;margin:10px 0 10px 10px;}
hr {
  border: 1px solid #D6DDB9;
}
a {
  text-decoration:none;
  color:#bdcf25;
}
a:focus, a:hover {
  text-decoration: underline;
  color: #bdcf25;
}
a img {border:none;}

blockquote {
  margin:10px;
  font-style:italic;
  color:#666666;
}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}

pre, .code {
  font: 1em/1.5 "Courier News", monospace;
  margin: 5px 0 15px;
  padding: 10px 15px;
  border-left: 5px solid #bdcf25;
}
strong {font-weight:bold;}
em, dfn {font-style:italic;}
dfn {font-weight:bold;}
sup, sub {line-height:0;}
abbr, acronym {border-bottom:1px dotted #666;}
address {margin:0 0 1.5em;font-style:italic;}
del {}
li ul, li ol {margin:0 10px;}
ul{margin: 10px 0;}
ol{margin:10px 0 10px 10px;}
ul {list-style-type:disc;}
ol {list-style-type:decimal;}
dl {margin:0 0 1em 0;}
ul li, ol li { margin: 0 0 0 1.5em;}
dl dt {font-weight:bold;}
dd {margin-left:1.5em;}
table {margin-bottom:1em;width:100%;}
th {background:#bdcf25; color:#1B1713;}
th, td {padding:4px 10px 4px 5px;}
tr.odd {background:none;}
tr.even {background:none; border:none;}
tr.even td {}
tfoot {font-style:italic;}
caption {background:#eee;}
.small {font-size:90%;margin-bottom:1.875em;line-height:1.875em;}
.large {font-size:120%;line-height:2.5em;margin-bottom:1.25em;}
.hide {display:none;}
.quiet {}
.loud {}
.highlight {background:#bdcf25;  color:#1b1713;}
.added {background:#060;color:#fff;}
.removed {background:#900;color:#fff;}
.error {color:#FF0000;}
.message {color:#bdcf25;}
.tips {font-style:italic;}
.rss {}

/* Grid */
.container_16 {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12, .grid_13, .grid_14, .grid_15, .grid_16 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}
.grid_1 {
  width: 40px;
}
.grid_2 {
  width: 100px;
}
.grid_3 {
  width: 160px;
}
.grid_4 {
  width: 220px;
}
.grid_5 {
  width: 280px;
}
.grid_6 {
  width: 340px;
}
.grid_7 {
  width: 400px;
}
.grid_8 {
  width: 460px;
}
.grid_9 {
  width: 520px;
}
.grid_10 {
  width: 580px;
}
.grid_11 {
  width: 640px;
}
.grid_12 {
  width: 700px;
}
.grid_13 {
  width: 760px;
}
.grid_14 {
  width: 820px;
}
.grid_15 {
  width: 880px;
}
.grid_16 {
  width: 940px;
}
.alpha {
  margin-left: 0;
}
.omega {
  margin-right: 0;
}
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}
.clearfix {
  display: inline-block;
}
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}

/* Drupal CSS */
#st_wrapper {
  background: url(../images/background.jpg) 0 0 repeat;
}
#st_wrapper_news {
  border-bottom:1px solid #1b1713;
}
#st_wrapper_footer {}

/* Header */
#st_header {
  height: 70px;
}
#st_header h1 {
  margin:12px 0;
}
#st_header h1#st_logo a {
  margin-top:20px;
  background: url(../images/logo.png) left 0px no-repeat;
  text-indent: -5000px;
  display: block;
  width: 217px;
  height: 46px;
}
/*End header*/

/* Maincontent */
#st_main {
  float:left;
  padding:20px 0;
}
#st_center {
  background:#1b1713;
}
#st_center_inner {
  float:left;
  padding:10px;
}
#breadcrumb {}
#st_sidebar_left {}
#st_sidebar_right {}
#st_news {
  float:left;
  padding-top:20px;
}
/* End maincontent */

/* Footer */
#st_logo_footer a {
  background: url(../images/logo.png) left 0px no-repeat;
  text-indent: -5000px;
  margin-top:15px;
  display: block;
  width: 217px;
  height: 46px;
}
#st_copyright {
  float:left;
}
#st_copyright .block{
  margin:0;
}

/* End footer */

/*-----------------------------
* Block style
------------------------------*/
/* Common */
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}
.block {
  margin-bottom: 20px;
  float:left;
  width:100%;
}
.lastblock {
  margin-bottom: 0;
}
.form-submit {
  color: #1b1713;
  background:#bdcf25;
  padding:4px 20px;
  margin:10px 0 12px 0;
  border:1px solid #2b4051;
  font-size:95%;
}
.form-submit:hover,
.form-submit:focus {
  color: #1b1713;
  background:#FFFFFF;
  border:1px solid #2b4051
}
#st_sidebar_left .block .content,
#st_sidebar_right .block .content {
  padding-top:10px;
  float:left;
  width:100%;
}
#st_sidebar_left ul.menu,
#st_sidebar_right ul.menu {
  margin:0;
  padding:0;
  list-style:none;
  float:left;
  width:100%;
}
.block ul {
  padding:0
}
#st_sidebar_left ul.menu li,
#st_sidebar_right ul.menu li {
  margin:0;
  padding:0;
  list-style:none;
  float:left;
  width:100%;
}
h2.title-comments {
  color:#FFFFFF;
}
h2.with-tabs,
h2.node-title {
  color:#FFFFFF;
  margin:0;
}
h3.title {
  margin-top:0;
}
.introtext p {
  margin:0
}
.image-wrapper {
  margin-top:5px
}
.view-blog h3.title {
  margin:0;
  font-size:220%;
  font-weight:normal;
}
.first, .first a {
  padding-top:0;
}
.view-blog .introtext p {
  margin: 10px 0;
}
li.print_html, li.print_mail, li.print_pdf {
  margin-left: 0em;
}
ul.links li {
  display:inline;
  padding:0 0.2em;
}
div.comment  h3 {
  margin-bottom:0;
}
/* End common */

/* Content */
#st_center .view-content {
  padding-top:15px;
}
#st_center .views-row {
  padding-bottom:20px;
  float:left;
  width:100%;
}
.view-submitted-by,
.views-label-created,
.views-label-name,
.view-create-date,
span.submitted,
.view-comment-count {
  color:#bdcf25;
  font-size:90%;
}
.links {
  text-align: right;
}
#st_center .view-blog .image-wrapper {
  float:left;
  margin: 15px 10px 0px 0;
}
#st_center .field-field-image {
  float:left;
  padding:10px 0;
}
.views-field-name, .views-field-created, .views-field-name, .views-field-comment-count {
  width:auto;
  float:left;
}
.views-field-field-image-fid {
  clear:left;
}
/* End content */

/* Slogan */
#st_slogan {
  float:left;
}
#st_slogan .block,
#st_slogan p,
#st_slogan p img {
  margin:0;
  float:left;
}
#st_slogan .block .content {
  padding:10px;
  float:left;
  width:920px;
  height:271px;
  position:relative;
  background:#1b1713;
}
.view-showcase {
  float:left;
}
#st_slogan img {
  float:left;
}
#st_slogan .views-field-field-img-sc-fid {
  float:left;
  position:relative;
  top:0;
  left:0;
  z-index:1;
}
#st_slogan .views-field-body {
  position:absolute;
  top:0px;
  left:715px;
  float:left;
  width:200px;
  background:url(../images/blockquote.jpg) 0 0 no-repeat;
  padding-top:35px;
}
#st_slogan .views-field-body p{
  line-height:1.7;
}
#st_slogan .field-content {
  float:left;
}
#st_slogan .views-field-body .field-content {
  float:left;
  background: url(../images/blockquote-bottom.jpg) bottom right no-repeat;
  padding-bottom:35px;
}
/* End slogan */

/* Block */
#st_sidebar_left .block,
#st_sidebar_right .block {
  width:100%;
  float:left;
  color:#1b1713;
}
#st_sidebar_left .block h2,
#st_sidebar_right .block h2 {
  color:#1b1713;
  border-bottom:1px solid #1b1713;
  margin:0;
}
#st_sidebar_left .block a,
#st_sidebar_left .block a:hover,
#st_sidebar_right .block a,
#st_sidebar_right .block a:hover {
  color:#1b1713;
}

/* Block has*/
#st_sidebar_left .block_box {
  width:140px;
}
#st_sidebar_right .block_box {
  width:200px;
}
#st_sidebar_left .block_box,
#st_sidebar_right .block_box {
  float:left;
  padding:7px 10px 10px 10px;
  background:#1b1713;
  color:#FFFFFF;
}
#st_sidebar_left .block_box h2,
#st_sidebar_right .block_box h2 {
  color:#bdcf25;
  border-bottom: 1px solid #bdcf25;
  margin:0;
}
#st_sidebar_left .block_box ul li a,
#st_sidebar_right .block_box ul li a,
#st_sidebar_left .block_box ul ul li.last a,
#st_sidebar_right .block_box ul ul li.last a{
  color:#FFFFFF;
  padding:5px 0;
  border-bottom:1px solid #605d5a;
  display:block;
}
#st_sidebar_left .block_box ul ul li a,
#st_sidebar_right .block_box ul ul li a {
  margin-left:10px;
}
#st_sidebar_left .block_box ul li.last a,
#st_sidebar_right .block_box ul li.last a{
  padding:5px 0 0 0;
  border-bottom:none;
}
#st_sidebar_left .block_box ul li a:hover,
#st_sidebar_right .block_box ul li a:hover,
#st_sidebar_left .block_box ul li a.active,
#st_sidebar_right .block_box ul li a.active {
  color:#BDCF25;
  text-decoration:none;
}

/* Poll block*/
#edit-vote {
  margin:0;
}
.vote-form {
  width:100%;
  padding-bottom:15px;
}
.vote-form .choices {
  display:block;
}
/* End poll block*/

/* Login block */
#user-login-form {
  float:left;
}
#user-login-form .form-item {
  float:left;
  margin:0;
  padding:6px 0;
}
#user-login-form label {
  font-weight:normal;
  padding-bottom:3px;
  text-align:left;
  float:left;
}
#st_sidebar_right #user-login-form #edit-name,
#st_sidebar_right #user-login-form #edit-name-1,
#st_sidebar_right #user-login-form #edit-pass {
  width:195px;
  float:left;
}
#st_sidebar_left #user-login-form #edit-name,
#st_sidebar_left #user-login-form #edit-name-1,
#st_sidebar_left #user-login-form #edit-pass {
  width:135px;
  float:left;
}
#user-login-form .item-list {
  text-align:left;
}
#st_sidebar_left #user-login-form .item-list ul,
#st_sidebar_right #user-login-form .item-list ul {
  margin:0;
  padding:0;
  list-style:none;
  float:left;
  width:100%;
}
#st_sidebar_left #user-login-form .item-list ul li,
#st_sidebar_right #user-login-form .item-list ul li {
  list-style:none;
  margin:0;
  padding:0;
  float:left;
  width:100%;
  border:none;
}
#st_sidebar_left #user-login-form .item-list ul li a,
#st_sidebar_right #user-login-form .item-list ul li a {
  margin:0;
  padding:0;
  float:left;
  width:100%;
  border:none;
}
/* End login block */

/* Who is new block */
#st_sidebar_left .block-user .item-list ul,
#st_sidebar_right .block-user .item-list ul {
  list-style:disc;
}
#st_sidebar_left .block-user .item-list ul li,
#st_sidebar_right .block-user .item-list ul li {
  list-style:disc;
  margin:0 0 0.25em 1.5em;
  width:
}
/* Recent blog post */
#st_sidebar_left .block-views .content,
#st_sidebar_right .block-views .content {
  padding-top:0;
}
#st_sidebar_left .views-row h3,
#st_sidebar_right .views-row h3 {
  margin:0;
  font-size:100%;
  font-weight:normal;
}
#st_sidebar_left .views-row a,
#st_sidebar_right .views-row a {
  color:#1b1713;
  border-bottom:1px solid #1b1713;
  padding: 5px 0;
  display:block;
}
/* End recent blog post */

/* User1 block, user2 block, user3 block, user4 block */
#st_news1, #st_news2, #st_news3, #st_news4 {
  padding:0px;
}
#st_news1 .block,
#st_news2 .block,
#st_news3 .block,
#st_news4 .block {
  float:left;
  margin:0;
  padding-bottom:15px;
}
#st_news1 .content ,
#st_news2 .content ,
#st_news3 .content ,
#st_news4 .content {
  float:left;
}
#st_news1 .views-field-field-image-fid,
#st_news2 .views-field-field-image-fid,
#st_news3 .views-field-field-image-fid,
#st_news4 .views-field-field-image-fid {
  padding-top:10px;
}
#st_news1 h2,
#st_news2 h2,
#st_news3 h2,
#st_news4 h2 {
  color: #bdcf25;
  font-size: 130%;
  font-weight: bold;
  margin:0;
}
ul.list-links { 
  text-align: left;
  margin: 10px 0;
  list-style:none;
  padding:0;
  float:left;
  width:100%;
  border-top: 1px solid #324A5D;
}
ul.list-links li {
  margin:0;
  padding:0;
  list-style:none;
  list-style-image:none;
  float:left;
  width:100%;
}
ul.list-links li a {
  color: #FFFFFF;
  text-transform: none;
  display:block;
  font-weight: normal;
  text-decoration: none;
  border-bottom: 1px solid #2b4051;
  padding:5px 0;
}
ul.list-links li.last a { padding-right: 0;}
ul.list-links li a:hover, ul.list-links li a.active {
  color:#bdcf25;
}
/* End user1 block, user2 block, user3 block, user4 block */

/* Search block */
#search-block-form {
  float:left;
  margin-top:7px;
}
#st_sidebar_left .block-search .content,
#st_sidebar_right .block-search .content {
  padding:0;
}
#search-block-form .form-item {
  float:left;
  margin:0;
}
#search-block-form .form-text {
  float:left;
  width: 120px;
  margin-right:10px;
  color: #666666;
}
#search-block-form .form-submit {
  margin:0;
  padding:4px 10px;
  float:left;
}
/* End search block */

/*-----------------------------
* Menu style
------------------------------*/
/* Top menu */
/* 1st level */
#st_main_menu {
  padding: 0;
  float: left;
  text-align:right;
  padding-top: 25px;
}
#st_main_menu .block {
  margin:0;
}
#st_main_menu ul {
  margin: 0; /* all lists */
  padding: 0;
  float:right;
  background:#1b1713;
}
#st_main_menu li {
  margin: 0; /* all list items */
  padding: 0;
  float: left;
  display: block;
  background: none;
  cursor: pointer;
}
#st_main_menu li ul {
  width: 16.4em;
  position: absolute; /* second-level lists */
  z-index: 99;
  left: -999em; /* using left instead of display to hide menus because display: none isn't read by screen readers */
  height: auto;
  w\idth: 15.9em;
}
#st_main_menu li ul ul {
  margin: -1.25em 0 0 12em; /* third-and-above-level lists */
}
#st_main_menu li li {
  padding: 0 1em 0 0;
  margin: 0;
  width: 15.9em;
}
#st_main_menu ul a {
  /*width: 14.8em;
  w\idth: 10.8em;*/
}
#st_main_menu li.havechildsfhover li ul,
#st_main_menu li.havechild-activesfhover li ul,
#st_main_menu li li.havechildsfhover li ul,
#st_main_menu li li.havechild-activesfhover li ul {
  left: -999em;
}

/* This "unhides" the sub-menus (left: -999em is what hides them) */
#st_main_menu li.havechildsfhover ul,
#st_main_menu li.havechild-activesfhover ul,
#st_main_menu li li.havechildsfhover ul,
#st_main_menu li li.havechild-activesfhover ul,
#st_main_menu li li li.havechildsfhover ul,
#st_main_menu li li li.havechild-activesfhover ul {
  left: auto;
}

/* STYLING THE MENU
-----------------------------------*/
/* 1st level */
#st_main_menu li a {
  padding: 7px 20px;
  display: block;
  color: #FFFFFF;
  line-height: normal;
  text-decoration: none;
}
#st_main_menu li a:hover,
#st_main_menu li a:active,
#st_main_menu li a.active
#st_main_menu li a:focus {
  background:none;
  color:#bdcf25
}
#st_main_menu li.active-trail a,
#st_main_menu li.havechildsfhover a {
  color: #bdcf25;
}

/* 2nd level and above */
#st_main_menu li ul {
  background: url(../images/ul_level2_bg.png) top left repeat;
}

#st_main_menu li ul li {
  border-bottom: 1px solid #bdcf25;
  background: none;
  padding: 0;
}
#st_main_menu li ul li.last {
  border-bottom: none;
}

#st_main_menu li ul a {
  border-right: none;
  margin: 0;
  padding: 5px 10px;
  background: none;
  color: #FFFFFF;
  font-weight: normal;
  font-size: 100%;
  line-height: normal;
  text-transform: none;
}
#st_main_menu li.havechildsfhover li a:hover,
#st_main_menu li.havechild-activesfhover a,
#st_main_menu li.havechildsfhover li.havechildsfhover li a:hover,
#st_main_menu li.havechild-activesfhover li.havechild-activesfhover li a:hover {
  color: #bdcf25;
}


#st_main_menu li.havechildsfhover li a,
#st_main_menu li.havechild-activesfhover li a,
#st_main_menu li.havechildsfhover li.havechildsfhover li a,
#st_main_menu li.havechild-activesfhover li.havechild-activesfhover li a  {
  color: #FFFFFF;
}
#st_main_menu li.havechild-activesfhover li.active-trail a,
#st_main_menu li.havechild-activesfhover li.havechild-activesfhover li.active-trail a,
#st_main_menu li.havechildsfhover li.havechildsfhover a {
  color: #bdcf25;
}
/* End top menu */

/* Slidebar menu */
#st_sidebar_left .block-menu .content,
#st_sidebar_right .block-menu .content {
  padding-top:0;
}
#st_wrapper_main ul.menu { 
  text-align: left;
  margin: 0;
  list-style:none;
  padding:0;
  float:left;
  width:100%;
}
#st_wrapper_main ul.menu li {
  margin:0;
  padding:0;
  list-style:none;
  list-style-image:none;
  float:left;
  width:100%;
}
#st_wrapper_main ul.menu li a {
  color: #FFFFFF;
  text-transform: none;
  display:block;
  font-weight: normal;
  text-decoration: none;
  border-bottom: 1px solid #bdcf25;
  padding:5px 0;
}
#st_wrapper_main ul.menu li.last a {
  padding-right: 0;
}
#st_wrapper_main ul.menu li a:hover,
#st_wrapper_main ul.menu li a.active {
  color:#bdcf25;
}
#st_wrapper_main ul.menu li a.active:hover {
  color:#FFFFFF;
}
#st_wrapper_main ul.menu ul li a {
  margin-left:10px;
}
#st_wrapper_main ul.menu ul ul li a {
  margin-left:20px;
}
/* End slidebar menu */

/* Footer */
#st_footer_logo {
  float:left;
  width:29%;
}
/* Bottom menu */
#st_menu_footer {
  float:right;
  width:70%;
}
#st_menu_footer .block,
#st_menu_footer .block .content {
  float:right;
  margin:0;
  padding:0;
}
#st_menu_footer ul {
  list-style:none;
  float:right;
  padding-top: 35px;
}
#st_menu_footer li {
  padding: 0 0 0 30px;
  margin:0;
  float:left;
  list-style:none;
}
#st_menu_footer li a {
  padding:0;
  color:#1B1713;
}
#st_menu_footer li a.active,
#st_menu_footer li a:hover {
  color:#FFFFFF;
  text-decoration:none;
}
/* End bottom menu */

/* Admin css */
#views-ajax-title,
#views-ajax-pad form,
#views-ajax-pad .form-buttons,
#views-ajax-pad .message {
  background:none;
}
#views-ajax-pad input,
#views-ajax-pad textarea {
  max-width:50%;
}
.views-query-info {
  float:left;
}