/**
 * @file
 * Block Styling
 */


.block /* Block wrapper */ {
  margin-bottom: 1.83em; /* Was 1em */
}

.block-menu,
.block-menu_block,
.logged-in .block-user,
#block-devel-0,
.block-og {
  margin-bottom: 2.5em; /* Was 1em */
}

.region-post-state .block /* Block wrapper */ {
  margin: 0;
}

.block h2.block-title /* Block title */ {
  font-size: .92em; /* 11px x 1.636 = 18px */
  line-height: 1.636em;
  font-family: "Lucida Sans", "Lucida Grande", Helvetica, Arial, "Nimbus Sans L", sans-serif;
  font-weight: bold;
  margin: 0 0 16px 0;
  padding: 10px 0 0 0;
  text-transform: uppercase;
  color: #666;
  border-top: 1px solid #ccc;
}

#header-blocks h2.block-title {
  border: none;
  margin: 0;
  font-weight: normal;
  font-size: .8125em;
}

#footer .block {
  float: left;
  padding-right: 19px;
}

#block-user-0 /* "User login form" block */ {
  height: 22.5em;
}
