/**
 * @file
 * Default color set for austin design: green #75af10 and blue #0082cc
 */


#site-name a:hover {
  color: #75af10;
}

/* Links */
a {
  color: #0082cc;
}

/* Main navigation tabs */
#navigation .main-menu-links {
  border-bottom: 10px solid #75af10;
}

#navigation .main-menu-links li.active-trail a {
  background-color: #75af10;
  color: #fff;
}

#navigation .main-menu-links li a:hover {
  color: #75af10;
}

#navigation .main-menu-links li.active-trail a:hover {
  color: #fff;
}

.secondary-menu-links {
  background-color: #75AF10;
}

/* Logged in menus */
#block-menu-menu-site-manager h2.title,
.logged-in .block-user h2.title {
  color: #75af10;
}

#block-menu-menu-site-manager li,
.logged-in .block-user li,
.block-og .item-list ul li {
  background-color: #75af10;
  color: #fff;
}

#block-menu-menu-site-manager li li,
.logged-in .block-user li li,
.block-og .item-list ul li li {
  background-color: #a4ca61;
  color: #fff;
}

#block-menu-menu-site-manager li a,
.logged-in .block-user li a,
.block-og .item-list ul li a {
  color: #fff;
}

#block-menu-menu-site-manager li li a,
.logged-in .block-user li li a,
.block-og .item-list ul li li a {
  color: #333;
}

/* Tabs */
ul.primary li a {
  color: #0082cc;
}

/* Forms */
.form-submit /* The submit button */ {
  background-color: #0082cc;
  color: #fff;
  border: none;
}

#edit-submit,
#edit-submit.form-submit,
#edit-save.form-submit,
#edit-vote {
  background-color: #0082cc;
  border: none;
  color: #fff;
}

.form-required {
  color: #0082cc;
}

.new {
  color: #75af10;
}

/* Footer */
#footer .block-menu li a:hover,
#footer .block-menu_block li a:hover,
#footer .logged-in .block-user li a:hover,
#footer .block-og .item-list ul li a:hover {
  color: #0082cc;
}
