/**
 * @file
 * Optional color set for austin design: blue #222440 and red #cc0000
 */


.with-alternate-color #site-name a:hover {
  color: #cc0000;
}

/* Links */
.with-alternate-color a {
  color: #cc0000;
}

.with-alternate-color a:hover {
  color: #000;
}

/* Main navigation tabs */
.with-alternate-color #navigation .main-menu-links {
  border-bottom: 10px solid #222440;
}

.with-alternate-color #navigation .main-menu-links li.active-trail a {
  background-color: #222440;
}

.with-alternate-color #navigation .main-menu-links li a:hover {
  color: #222440;
}

.with-alternate-color #navigation .main-menu-links li.active-trail a:hover {
  color: #fff;
}

.with-alternate-color .secondary-menu-links {
  background-color: #222440;
}

/* Logged in menus */
.with-alternate-color #block-menu-menu-site-manager h2.title,
.with-alternate-color.logged-in .block-user h2.title {
  color: #222440;
}

.with-alternate-color #block-menu-menu-site-manager li,
.with-alternate-color.logged-in .block-user li,
.with-alternate-color .block-og .item-list ul li {
  background-color: #222440;
  color: #fff;
}

.with-alternate-color #block-menu-menu-site-manager li li,
.with-alternate-color.logged-in .block-user li li,
.with-alternate-color .block-og .item-list ul li li {
  background-color: #5a6470;
  color: #fff;
}

.with-alternate-color #block-menu-menu-site-manager li a,
.with-alternate-color logged-in .block-user li a,
.with-alternate-color .block-og .item-list ul li a {
  color: #fff;
}

.with-alternate-color #block-menu-menu-site-manager li li a,
.with-alternate-color.logged-in .block-user li li a,
.with-alternate-color .block-og .item-list ul li li a {
  color: #fff;
}

/* Tabs */
.with-alternate-color ul.primary li a {
  color: #cc0000;
}

/* Forms */
.with-alternate-color .form-submit /* The submit button */ {
  background-color: #cc0000;
  color: #fff;
  border: none;
}

.with-alternate-color #edit-submit,
.with-alternate-color #edit-submit.form-submit,
.with-alternate-color #edit-save.form-submit,
.with-alternate-color #edit-vote {
  background-color: #cc0000;
  border: none;
  color: #fff;
}

.with-alternate-color .form-required {
  color: #cc0000;
}

.with-alternate-color .new {
  color: #222440;
}

/* Footer */
.with-alternate-color #footer .block-menu li a:hover,
.with-alternate-color #footer .block-menu_block li a:hover,
.with-alternate-color #footer .logged-in .block-user li a:hover,
.with-alternate-color #footer .block-og .item-list ul li a:hover {
  color: #cc0000;
}
