/**
 * @file
 * Comment Styling
 */


#comments /* Wrapper for the list of comments and its title */ {
  margin: 22px 0;
}

#comments h2.title /* Heading for the list of comments */ {
  font-size: .92em; /* 11px x 1.636 = 18px */
  line-height: 1.636em;
  font-family: "Lucida Sans", "Lucida Grande", Helvetica, Arial, "Nimbus Sans L", sans-serif;
  font-weight: bold;
  margin: 0 0 16px 0;
  padding: 10px 0 0 0;
  text-transform: uppercase;
  color: #666;
  border-top: 1px solid #ccc;
}

.comment /* Wrapper for a single comment */ {
  margin-bottom: 22px;
}

.new /* "New" marker for comments that are new for the current user */ {
  color: #c00;
  font-size: .59em;
  line-height: 1.5em;
  font-family: "Lucida Sans", "Lucida Grande", Helvetica, Arial, "Nimbus Sans L", sans-serif;
  font-weight: bold;
  margin: 0 0 16px 0;
  color: #666;
  /*margin-top: 0.769em; /* Equivalent to 1em in the page's base font: 1 / 1.3 = 0.769 */
  /*margin-bottom: 0.769em;*/
}

.comment .submitted /* The "posted by" information */ {
  font-style: italic;
  color: #666;
  margin-top: 5px;
  margin-bottom: 12px;
}

.comment .submitted a {
  border: none;
}

.comment ul.links /* Comment links. See also the ul.links declaration in the pages.css. */ {
  border: none;
  margin: 1em 0;
}

.comment ul.links a {
  border: none;
}

.indented /* Nested comments are indented */ {
  margin-left: 22px;  /* Drupal core uses a 25px left margin */
}

form#comment-form {
  margin-bottom: 30px;
}
