/**
 * @file
 * Form Styling
 */


body#tinymce {
  font-size: 12px;
  line-height: 14px;
  background-color: #e9f2f8;
  padding: 5px;
}

#edit-pass {
  font-family: "Lucida Sans", "Lucida Grande", Helvetica, Arial, "Nimbus Sans L", sans-serif;
}

.fieldset-wrapper li {
  margin: 0 0 0 2em;
}

.form-item,
.form-checkboxes,
.form-radios /* Wrapper for a form element (or group of form elements) and its label */ {
  margin: 1em 0;
}

.form-item input.error,
.form-item textarea.error,
.form-item select.error /* Highlight the form elements that caused a form submission error */ {
  border: 2px solid #c00;
}

.form-item label /* The label for a form element */ {
  display: block;
  font-weight: bold;
}

.form-item label.option /* The label for a radio button or checkbox */ {
  display: inline;
  font-weight: normal;
}

.form-required /* The part of the label that indicates a required field */ {
  color: #c00;
}

.form-item .description /* The descriptive help text (separate from the label) */ {
  font-size: 0.85em;
}

.form-checkboxes .form-item,
.form-radios .form-item /* Pack groups of checkboxes and radio buttons closer together */ {
  margin: 0.4em 0;
}

.form-submit /* The submit button */ {
  background-color: #f0efe9;
  color: #666;
  border: none;
  font-weight: bold;
  font-size: 1em;
  line-height: 1em;
  text-align: center;
  padding: 5px 15px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

#edit-submit .form-submit /* The submit button */ {
  background-color: #0082cc;
  color: #fff;
}

.container-inline div,
.container-inline label /* Inline labels and form divs */ {
  display: inline;
}

.tips /* Tips for Drupal's input formats */ {
  margin: 0;
  padding: 0;
  font-size: 0.9em;
}


/*
 * Drupal's default login form block
 */
#user-login-form {
  text-align: left; /* LTR */
}

#user-login-form .form-required {
  display: none;
}

#user-login-form input.form-text {
  width: 100%;
  border:1px solid #ccc;
  /*height: 23px;*/
  padding: 6px 2px 2px 2px;
  margin-bottom: 14px;
}

#user-login-form .form-submit {
  float: right;
  margin-top: 63px;
  width: 96px;
}

#user-login .form-submit {
  float: left;
  margin-top: 63px;
  width: 96px;
}

/*
 * OpenID
 *
 * The default styling for the OpenID login link seems to assume Garland's
 * styling of list items.
 */

#user-login-form ul /* OpenID creates a new ul above the login form's links. */ {
  margin-bottom: 0; /* Position OpenID's ul next to the rest of the links. */
  list-style: none;
  font-size: .92em;
  line-height: 2.18em;
}

#user-login-form li.openid-link,
#user-login li.openid-link /* The "Log in using OpenID" links. */ {
  margin-top: 1em;
  margin-left: -20px; /* LTR */ /* Un-do some of the padding on the ul list. */
  padding-left: 20px;
  background-position: left center;
}

#user-login-form li.user-link,
#user-login li.user-link /* The "Cancel OpenID login" links. */ {
  margin-top: 1em;
  list-style-type: disc;
  list-style-position: outside;
}

#user-login li.openid-link,
#user-login li.user-link /* The OpenID links on the /user form. */ {
  margin-left: -2em; /* LTR */ /* Un-do all of the padding on the ul list. */
}


/*
 * Drupal admin tables
 *
 * We overrode these styles in html-elements.css, but restore them for the admin
 * section of the site.
 */

form tbody {
  border-top: 1px solid #ccc;
}

form th,
form thead th {
  text-align: left; /* LTR */
  padding-right: 1em; /* LTR */
  border-bottom: 3px solid #ccc;
}

form tbody th {
  border-bottom: 1px solid #ccc;
}

form tr.even,
form tr.odd {
  border-bottom: 1px solid #ccc;
  padding: 0.1em 0.6em;
}

form td.region {
  background-color: #E4E3DD;
}

form .region-header td.region {
  font-family: "Lucida Sans", "Lucida Grande", Helvetica, Arial, "Nimbus Sans L", sans-serif;
  font-size: 0.6667em; /* 11px */
  line-height: 1.636em;
  font-style: normal;
}

html.js .resizable-textarea textarea  {
  display: block;
  font-size: 1em;
  margin-bottom: 0;
  width: 100%;
}

.compact-link {
  margin-bottom: 1em;
}

/*
 * Main drupal admin page
 */
div.admin-panel {
  margin: 0 0 10px 0;
  padding: 0;
}

div.admin-panel .body {
  background-color: #f8f7f2;
  margin: 0;
  padding: 10px;
}

div.admin-panel h3 {
  background-color: #E4E3DD;
  padding: 10px 12px;
  margin: 0;
  text-transform: uppercase;
  border-bottom: 3px solid #ccc;
  font-size: .92em;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Grande", Helvetica, Arial, "Nimbus Sans L", sans-serif;

}

div.admin-panel .item-list li {
  list-style: inside;
}

div.admin .left,
div.admin .right {
  margin: 0; /* Unset core css */
  width: 48%;
}

form#system-themes-form tbody td, /* Site building themes page */
table#blocks tbody td /* Blocks admin page */ {
  padding: 5px;
}

.theme-info h2 {
  font-size: 1em;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Grande", Helvetica, Arial, "Nimbus Sans L", sans-serif;
}

/* Node fields configuration */
tr.menu-disabled {
  color: #afafaf;
}

.field-item {
  margin: 0 0 1em 0;
}

/*user.css override permissions page*/
#permissions td.permission  {
  padding: 5px 24px;
}

td.checkbox, th.checkbox {
  text-align: left;
}
