/**
 * @file
 * Layout Styling (DIV Positioning)
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout is based on the Zen Columns layout method.
 *   http://drupal.org/node/201428
 *
 * Only CSS that affects the layout (positioning) of major elements should be
 * listed here.  Such as:
 *   display, position, float, clear, width, height, min-width, min-height
 *   margin, border, padding, overflow
 */


/*
 * Body
 */
#main-menu,
#secondary-menu,
#main {
  /*
   * If you want to make the page a fixed width and centered in the viewport,
   * this is the standards-compliant way to do that. See also the ie6.css file
   * for the necessary IE5/IE6quirks hack to center a div.
   */
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

#header,
#mission,
.region-promo,
.breadcrumb,
#footer,
.region-page-closure {
  margin-left: auto;
  margin-right: auto;
  width: 916px;
}

/*
 * Main (container for everything else)
 */
#main-wrapper {
  position: relative;
}

/*
 * Content
 */
#content,
.no-sidebars #content {
  float: left; /* LTR */
  width: 960px;
  margin-left: 0; /* LTR */
  margin-right: -960px; /* LTR */ /* Negative value of #content's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #content .section. */
}

.sidebar-first #content {
  width: 746px;
  margin-left: 214px; /* LTR */ /* The width of .region-sidebar-first. */
  margin-right: -960px; /* LTR */ /* Negative value of #content's width + left margin. */
}

.sidebar-second #content {
  width: 746px;
  margin-left: 0; /* LTR */
  margin-right: -746px; /* LTR */ /* Negative value of #content's width + left margin. */
}

.front.sidebar-first #content {
  width: 681px;
  margin-left: 279px; /* LTR */ /* The width of .region-sidebar-first. */
  margin-right: -960px; /* LTR */ /* Negative value of #content's width + left margin. */
}

.front.sidebar-second #content {
  width: 681px;
  margin-left: 0; /* LTR */
  margin-right: -681px; /* LTR */ /* Negative value of #content's width + left margin. */
}

.two-sidebars #content,
.front.two-sidebars #content {
  width: 532px;
  margin-left: 214px; /* LTR */ /* The width of .region-sidebar-first */
  margin-right: -746px; /* LTR */ /* Negative value of #content's width + left margin. */
}

#content .section {
  margin: 0;
  padding: 0 36px 0 22px;
}

.front.sidebar-second #content .section {
  padding: 0 84px 0 22px;
}

.front.sidebar-first #content .section {
  padding: 0 22px 0 84px;
}

/*
 * Navigation
 */
#navigation {
  margin: 0;
  padding: 0;
}

.front #navigation.with-promo {
  min-height: 179px;
}

#navigation li /* A simple method to get navigation links to appear in one line. */ {
  float: left; /* LTR */
  padding: 0;
}

/*
 * First sidebar
 */
.region-sidebar-first {
  float: left; /* LTR */
  width: 214px;
  margin-left: 0; /* LTR */
  margin-right: -214px; /* LTR */ /* Negative value of .region-sidebar-first's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to .region-sidebar-first .section. */
}

.front .region-sidebar-first {
  float: left; /* LTR */
  width: 279px;
  margin-left: 0; /* LTR */
  margin-right: -279px; /* LTR */ /* Negative value of .region-sidebar-first's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to .region-sidebar-first .section. */
}

.two-sidebars .region-sidebar-first {
  float: left; /* LTR */
  width: 200px;
  margin-left: 0; /* LTR */
  margin-right: -200px; /* LTR */ /* Negative value of .region-sidebar-first's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to .region-sidebar-first .section. */
}

.region-sidebar-first .section {
  margin: 0 0 0 22px; /* LTR */
  padding: 0;
}

/*
 * Second sidebar
 */
.region-sidebar-second {
  float: left; /* LTR */
  width: 214px;
  margin-left: 746px; /* LTR */ /* Width of content + sidebar-first. */
  margin-right: -960px; /* LTR */ /* Negative value of .region-sidebar-second's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to .region-sidebar-second .section. */
}

.front .region-sidebar-second {
  float: left; /* LTR */
  width: 279px;
  margin-left: 681px; /* LTR */ /* Width of content + sidebar-first. */
  margin-right: -960px; /* LTR */ /* Negative value of .region-sidebar-second's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to .region-sidebar-second .section. */
}

.two-sidebars .region-sidebar-second {
  float: left; /* LTR */
  width: 200px;
  margin-left: 760px; /* LTR */ /* Width of content + sidebar-first. */
  margin-right: -960px; /* LTR */ /* Negative value of .region-sidebar-second's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to .region-sidebar-second .section. */
}

.region-sidebar-second .section {
  margin: 0 22px 0 0; /* LTR */
  padding: 0;
}

/*
 * Footer
 */
#footer {
  padding: 22px 0;
}

/*
 * Prevent overflowing content
 */
#header,
#content,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
#footer,
.region-page-closure {
  overflow: visible;
  word-wrap: break-word; /* A very nice CSS3 property */
}
