/**
 * @file
 * Navigation Styling
 */


/*
 * The active item in a Drupal menu
 */
li a.active {
  color: #000;
}

/*
 * Menu tree styling
 */
#page ul.menu,
#footer ul.menu {
  padding: 0; /* unset 2em from system.css */
}

#page ul.menu .content,
#footer ul.menu .content {
  font-size: .92em; /* 11px x 2.45 = 27px */
  line-height: 1.3em;
  font-family: "Lucida Sans", "Lucida Grande", Helvetica, Arial, "Nimbus Sans L", sans-serif;
  margin: 0 0 16px 0;
  text-transform: uppercase;
  color: #333;
}

#page ul.menu li,
#footer ul.menu li {
  background-color: #e4e3dd;
  border-bottom: 1px solid #fff;
  text-transform: uppercase;
  list-style-type: none;
}

#page ul.menu li li,
#footer ul.menu li li {
  background-color: #f0efe9;
  padding: 0;
  text-transform: none;
}

#page ul.menu li.expanded ul,
#footer ul.menu li.expanded ul {
  border-top: 1px solid #fff;
}

#page ul.menu li.expanded ul li.last,
#footer ul.menu li.expanded ul li.last {
  border-bottom: none;
}

#page ul.menu li a,
#footer ul.menu li a {
  color: #333;
  border: none;
  padding: 5px 22px;
  display: block;
}

#page ul.menu li li a, /* level 2 */
#footer ul.menu li li a {
  padding: 5px 22px 5px 30px;
}

#page ul.menu li li li a, /* level 3 */
#footer ul.menu li li li a {
  padding: 5px 22px 5px 38px;
}

/* level 4 */
#page ul.menu li li li li a,
#footer ul.menu li li li li a {
  padding: 5px 22px 5px 46px;
}

/* level 5 */
#page ul.menu li li li li li a,
#footer ul.menu li li li li li a {
  padding: 5px 22px 5px 54px;
}

/*
 * Navigation bar
 */
#navigation ul.links a {
  color: #5a584d;
  border: none;
}

/*
 * Primary and Secondary menu links
 */
#main-menu.links li a {
  padding: 10px 21px 8px 21px;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  font-size: 1em; /* 12px x 1.5 = 18px */
  line-height: 1.5em;
}

#secondary-menu li {
  padding: 0 22px 8px 0;
  margin: 0;
  text-transform: none;
  font-style: italic;
  display: inline;
}

#secondary-menu.links li a {
  text-decoration: none;
  padding: 10px 21px 8px 21px;
  line-height: 1.5em;
  color: #fff;
}

/*
 * Sidebar menus
 */
.region-sidebar-first ul.menu li a.active,
.region-sidebar-second ul.menu li a.active /* The active item in a Drupal menu */ {
  background-image: url(../images/background-menu-active.png);
  background-position: left;
  background-repeat: no-repeat;
}

.region-sidebar-first ul.menu li a:hover,
.region-sidebar-second ul.menu li a:hover /* The hover item in a Drupal menu */ {
  background-image: url(../images/background-menu-active.png);
  background-position: left;
  background-repeat: no-repeat;
}

/*
 * Footer menus
 */
#footer ul {
  padding: 0;
  margin: 0;
}
#footer li,
#footer .block-menu li,
#footer .block-menu_block li,
#footer .logged-in .block-user li,
#footer .block-og .item-list ul li {
  border: none;
  float: left;
  padding: 0;
  margin: 0 0 0 0;
}

#footer .block-menu li a,
#footer .block-menu_block li a,
#footer .logged-in .block-user li a,
#footer .block-og .item-list ul li a {
  color: #333;
  border: none;
  padding: 0 20px 0 0;
  display: inline;
}
