/**
 * @file
 * Node Styling
 *
 * Style anything that isn't in the $content variable.
 */


.front .node /* Node wrapper on front page view */ {
  margin-bottom: 30px;
}

.node-unpublished div.unpublished,
.comment-unpublished div.unpublished /* The word "Unpublished" displayed underneath the content. */ {
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word; /* A very nice CSS3 property */
}

.marker /* "New" or "Updated" marker for content that is new or updated for the current user */ {
  color: #c00;
}

.node.node-unpublished .picture,
.comment.comment-unpublished .picture {
  position: relative; /* Otherwise floated pictures will appear below the "Unpublished" text. */
}

.node .submitted /* The "posted by" information */ {
  font-style: italic;
  color: #666;
  margin-top: 5px;
  margin-bottom: 12px;
}

.node .submitted a {
  border: none;
}

.tilde {
  font-size: 1em;
}

.node .terms /* Node terms (taxonomy) */ {
  font-size: .92em; /* 11px x 1.636 = 18px */
  line-height: 1.636em;
  font-family: "Lucida Sans", "Lucida Grande", Helvetica, Arial, "Nimbus Sans L", sans-serif;
  font-weight: bold;
  margin: 0 0 0 0;
  padding: 10px 0 0 0;
  text-transform: uppercase;
  color: #666;
  /*margin-top: 0.769em; /* Equivalent to 1em in the page's base font: 1 / 1.3 = 0.769 */
  /*margin-bottom: 0.769em;*/
}

.node .terms a {
  color: #666;
  border: none;
}

.node ul.links /* Node links. See also the ul.links declaration in the pages.css. */ {
  margin: 1em 0;
}
