/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */


/*
 * Body
 */
body {
  margin: 0;
  padding: 10px 0 140px 0;
  background-color: #e4e3dd;
}

#page {
  background-color: #fff;
}

/*
 * The skip navigation link will be completely hidden until a user tabs to the
 * link. See http://www.webaim.org/techniques/skipnav/
 */
#skip-link a,
#skip-link a:visited {
  position: absolute;
  display: block;
  left: 0;
  top: -500px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  text-align: center;
  background-color: #666;
  color: #fff;
}

#skip-link a:hover,
#skip-link a:active,
#skip-link a:focus {
  position: static;
  width: 100%;
  height: auto;
  padding: 2px 0 3px 0;
}

/*
 * Header
 */
#header {
  padding: 25px 0 30px 0;
}

#logo /* Wrapping link for logo */ {
  float: left; /* LTR */
  margin-left: -22px; /* LTR */ /* This is done to meet the design requirement for the LOGO.  If text was used instead, it would then fall inline with the rest of the grid */
  margin-right: 33px; /* LTR */
  border: none;
  text-decoration: none;
}

#logo img {
  vertical-align: bottom;
}

h1#site-name,
div#site-name /* The name of the website */ {
  margin: 0 0 .5em 0;
  font-size: 2em;
  line-height: 1.3em;
  font-family: Georgia, "Times New Roman", "DejaVu Serif", serif;
  font-weight: normal;
}

#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}

#site-name a:hover,
#site-name a:focus {
  text-decoration: none;
}

#site-slogan /* The slogan (or tagline) of a website */ {
  margin: 0 0 22px 0;
  font-size: 1.5em; /* 18px x 1.444 = 26px */
  line-height: 1.444em;
  font-family: Georgia, "Times New Roman", "DejaVu Serif", serif;
  font-weight: normal;
  font-style: italic;
  color: #000;
}

.region-post-state /* Positioning statement region */ {
  margin: -8px 0 0 0;
  padding: 0;
}

.region-header /* Wrapper for any blocks placed in the header region */ {
  clear: both; /* Clear the logo */
  margin: 0;
  font-size: 1.5em; /* 18px x 1.444 = 26px */
  line-height: 1.444em;
  font-family: Georgia, "Times New Roman", "DejaVu Serif", serif;
  font-weight: normal;
  font-style: italic;
  color: #000;
}

#promo {
  min-height: 89px;
  padding: 22px 0;
  background-color: #f7f6f1;
  background-image: url(../images/background-promo.jpg);
  background-position: left bottom;
  background-repeat: repeat-x;
}

#promo ul {
  list-style-type: none;
}

#mission /* The mission statement of the site (displayed on homepage) */ {
  margin-bottom: 22px;
  font-size: 1.5em; /* 18px x 1.444 = 26px */
  line-height: 1.444em;
  font-family: Georgia, "Times New Roman", "DejaVu Serif", serif;
  font-weight: normal;
  font-style: normal;
  color: #3C3C37;
}

.breadcrumb-wrapper /* The path to the current page in the form of a list of links */ {
  background-color: #e4e3dd;
  padding: 5px;
  font-style: italic;
  background-color: #e4e3dd;
  background-image: url(../images/background-breadcrumbs.jpg);
  background-repeat: repeat-x;
}

.breadcrumb {
  padding: 4px 0;
  font-style: italic;
}

.breadcrumb .descriptive-text  {
  display: inline;
}

/*
 * Main (container for everything else)
 */
#main-wrapper {
  padding: 22px 0 40px 0;
}

/*
 * Content
 */
.front h1.title {
  font-size: 1.5em; /* 18px x 1.444 = 26px */
  line-height: 1.444em;
  font-family: Georgia, "Times New Roman", "DejaVu Serif", serif;
  font-weight: normal;
  margin: 0;
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title /* Comment title */ {
  margin: 0;
}

tr.even,
tr.odd /* Some tables have rows marked even or odd. */ {
  border-bottom: none;
  padding: 0;
}

.help /* Help text on a page */ {
  margin: 1em 0;
  clear: both;
}

a.contextual-links-trigger,
.contextual-links a {
  border-bottom: none;
}

.more-help-link /* Link to more help */ {
  font-size: 0.85em;
  text-align: right;
}

#content-area .block ul,
#content-area .item-list ul,
.region-sidebar-second .block ul,
.region-sidebar-second .item-list ul {
  margin: 0;
  padding: 0;
}

.poll /* Voting Polls */ {
  background-color: #f2f1e9;
  margin: 22px 0;
  padding: 22px;
}

.poll .bar {
  background-color: #d6d4cc;
}

.poll .bar .foreground {
  background-color: #666;
}

.poll .vote-form .choices {
  width: 100%;
}

ul.links /* List of links */ {
  margin: 0;
  padding: 0;
}

ul.links.inline {
  display: inline;
}

ul.links li {
  display: inline;
  list-style-type: none;
  padding: 0 12px 0 0;
}

.pager /* A list of page numbers when more than 1 page of content is available */ {
  clear: both;
  margin: 1em 0;
  text-align: center;
  color: #666;
  font-style: italic;
}

.pager a,
.pager strong.pager-current,
.pager a.active /* Each page number in the pager list */ {
  border: none;
  padding: 0.5em;
  color: #666;
}

.more-link /* Aggregator, blog, and forum more link */ {
  text-align: right; /* LTR */
}

/*
 * Footer
 */
#footer {
  color: #666;
}

#footer a {
  color: #000;
  text-decoration: none;
  border: none;
}

#footer li {
  text-transform: none;
}

/*
 * Markup free clearing (See: http://www.positioniseverything.net/easyclearing.html )
 */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/**
 * Hide elements from all users.
 *
 * Used for elements which should not be immediately displayed to any user. An
 * example would be a collapsible fieldset that will be expanded with a click
 * from a user. The effect of this class can be toggled with the jQuery show()
 * and hide() functions.
 */
.element-hidden {
  display: none;
}

/**
 * Hide elements visually, but keep them available for screen-readers.
 *
 * Used for information required for screen-reader users to understand and use
 * the site where visual display is undesirable. Information provided in this
 * manner should be kept concise, to avoid unnecessary burden on the user. Must
 * not be used for focusable elements (such as links and form elements) as this
 * causes issues for keyboard only or voice recognition users. "!important" is
 * used to prevent unintentional overrides.
 */
.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
