/* views UI */

/**
 * @file
 * Views Styling
 */


.views-row-odd,
.views-row-even /* Unformatted layout */ {
  margin-bottom: 30px;
}

.view-content tbody tr.odd {
  background-color: #fff;
}

.view-content tbody tr.even {
  background-color: #f0efe9;
}

.views-field-title {
  list-style: none;
  font-size: 1.5em; /* 18px x 1.444 = 26px */
  line-height: 1.444em;
  font-family: Georgia, "Times New Roman", "DejaVu Serif", serif;
  font-weight: normal;
  margin: 0;
}

.front .views-field-title /* Home page news&events title links */ {
  font-size: 1.5em; /* 18px x 1.444 = 26px */
  line-height: 1.444em;
  font-family: Georgia, "Times New Roman", "DejaVu Serif", serif;
  font-weight: normal;
  margin: 0;
}

.views-field-field-image-fid a {
  width: 100%;
}

.views-field-field-image-fid a img {
  border: 3px solid #e4e3dd;
}

.views-field-created {
  font-style: italic;
  color: #666;
  margin-top: 5px;
  margin-bottom: 12px;
}

.views-edit-view a {
  border: none;
}

/*Grid layout */
table.views-view-grid/* General view grid style (commonly used for photo galleries.) */ {
  margin: 0 0 22px 0;
  padding: 0;
  width: auto;
}

table.views-view-grid td {
  padding: 0 22px 22px 0;
}

table.views-view-grid td .views-field-field-image-fid {
  width: auto;
  padding: 0;
  margin: 0;
}
