
/**
 * @file
 * Makes the theme 1000px wide as opposed to 800px.
 *
 * This stylesheet can be activated in the theme settings page when
 * the Advanced Theme Settings module is enabled.
 *
 */

#wrapper {
  width:1000px;
}

#main {
  width:698px;
}

body.sidebar-left #main {
  width: 850px;
}

body.sidebar-right #main {
  width: 848px;
}

body.sidebar-none #main {
  width: 1000px;
}

#footer {
  width: 1000px;
}

#header {
  background: url('images/header_wide.jpg');
}
