
/**
 * @file
 * IE (less than 7) Bug Fixes
 *
 * Hacks to fix problems that Internet Explorer 6 and below cause.
 *
 */

#sr3, #sr5 {
  position: relative;right: -2px;
}

#sr4 {
  position: relative;left:-2px;
}

#sr2 {
  width: 148px;
}
